.virtualenv/
.venv/

docs/build/
docs/_build/

# ignore data that is created during sphinx-build
docs/static/data/addresses.gpkg
docs/static/data/eu_countries/eu_countries_EPSG3035.gpkg
docs/static/data/europe_nuts_regions.geojson
docs/static/data/europe_nuts_regions.gpkg
docs/static/data/finland_topographic_database/area_by_terrain_class.csv
docs/static/data/finland_topographic_database/lakes.*
docs/static/data/finland_topographic_database/terrain_*.*
docs/static/data/intersection.geojson
docs/static/data/intersection.gpkg

*~
*.swp
.DS_Store

*.pyc
*.egg-info/
__pycache__

.ipynb_checkpoints
.jupyter_cache
jupyter_execute

.tox
.coverage
coverage.xml
