.virtualenv
.virtualenv/*
.virtualenv/**
dist
dist/*
dist/**
build
build/*
build/**
docs/build/*
docs/build/**
*.egg-info
*.egg-info/*
*.egg-info/**
*~
**/*~
*.swp
**/*.swp
*.pyc
**/*.pyc
.DS_Store
*/.DS_Store
**/.DS_Store
src/**/*.so
src/**/*.c
src/**/*.o

**/.ipynb_checkpoints
docs/jupyter_execute/

.tox
.coverage
coverage.xml
