# Created by .ignore support plugin (hsz.mobi)
.idea
.ipynb_checkpoints
docs
corine-level3.png
damselfish.png
helsinki_grid*
natural_breaks_pt*
population_points.png
projected.png
pt_time.png
slide.py
small-big-lakes.png
static_map.png
suitable_areas.png
walk_distances.png
wgs84.png



