bokeh
cartopy
contextily
folium
geojson
geopandas
geopy
ipykernel
ipywidgets
jupyterlab
jupyterlab-git
jupyterlab-myst
jupytext
mapclassify
matplotlib
mpl_chord_diagram
myst-nb
nbsphinx
networkx
osmnx
pandas
pillow
plotly
psycopg2
pyproj
pyrosm
requests
scikit-learn
seaborn
shapely
sphinx
sphinx-book-theme
sqlalchemy
tilemapbase
