ipykernel
nbsphinx
jupyterlab
geopandas
sphinx_book_theme
insegel
matplotlib
geopandas
pandas
cartopy
networkx
osmnx
pillow
plotly
mapclassify
seaborn
contextily
osmnx
tilemapbase
mpl_chord_diagram
folium
ipywidgets