affine==2.3.1
alabaster==0.7.12
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
bokeh==2.4.3
branca==0.5.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
ConfigArgParse==1.5.3
contextily==1.2.0
contourpy==1.0.5
cycler==0.11.0
cykhash==2.0.0
Cython==0.29.32
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
executing==1.1.1
fastjsonschema==2.16.2
Fiona==1.8.22
folium==0.13.0
fonttools==4.37.4
geographiclib==1.52
geojson==2.5.0
geopandas==0.11.1
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.29
greenlet==1.1.3.post0
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
JPype1==1.4.0
json5==0.9.10
jsonschema==4.16.0
jupyter-cache==0.5.0
jupyter-core==4.11.1
jupyter-server==1.21.0
jupyter-server-mathjax==0.2.6
jupyter_client==7.4.2
jupyterlab==3.4.8
jupyterlab-git==0.39.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.0
kiwisolver==1.4.4
mapclassify==2.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.1
mdurl==0.1.2
mercantile==1.2.1
mistune==2.0.4
munch==2.5.0
myst-nb==0.17.1
myst-parser==0.18.1
nbclassic==0.4.5
nbclient==0.5.13
nbconvert==7.2.1
nbdime==3.1.1
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.7
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.23.4
osmnx==1.2.2
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prometheus-client==0.15.0
prompt-toolkit==3.0.31
psutil==5.9.3
psycopg2==2.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydata-sphinx-theme==0.8.1
pygeos==0.13
Pygments==2.13.0
pyparsing==3.0.9
pyproj==3.4.0
pyrobuf==0.9.3
pyrosm==0.6.1
pyrsistent==0.18.1
python-dateutil==2.8.2
python-rapidjson==1.9
pytz==2022.5
PyYAML==6.0
pyzmq==24.0.1
r5py==0.0.4
rasterio==1.3.2
requests==2.28.1
Rtree==1.0.1
scikit-learn==1.1.2
scipy==1.9.2
Send2Trash==1.8.0
Shapely==1.8.5.post1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.42
stack-data==0.5.1
tabulate==0.9.0
terminado==0.16.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==5.5.0
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
xyzservices==2022.9.0
zipp==3.9.0
