pandoc
sphinx==1.7.9
sphinx_rtd_theme
nbsphinx==0.4.3
IPython==6.5.0
jupyter_client
ipykernel
matplotlib
pandas
imageio
sphinxcontrib-googleanalytics
geopandas
osmnx
geopy
pyrosm
folium
mplleaflet
geojson
